.master_container_shoppingcart .footer{

  position: absolute;
  bottom:-30rem;
  background-color: white;
  height: 16rem;
font-size: .7rem;
  
  left: 0rem;
}
.mainpage_mastercontainer .footer{

  position: absolute;
  bottom:-140rem;
  background-color: white;
  height: 16rem;
font-size: .7rem;
left: 0rem;
 
}


.footer{
    position: relative;
    bottom:-14rem;
    background-color: aqua;
    height: 16rem;
  font-size: .7rem;
    width: 100%;
    left: -20rem;
  
  }
  .footer p{
    position: relative;
  
    left: 40rem;
    width: 10rem;
  
  }
  .hd_pages{
    position: absolute;
    left: 2rem;
  }
  .ul_media{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    top:2rem;
    font-size: 1rem;
    list-style-type: none;
   text-decoration: none;
  
  
  }
  .li_media{
    position: relative;
    left: 0rem;
    list-style-type: none;
   text-decoration: none;
   margin:5px;
  }
  .li_media:hover{
    padding: .2px;
    background-color:grey;
    border-radius: 4px;
    width: 5rem;
  }
  