.container {
  position: absolute;
  top: 2rem;
  left: 18rem;
  width: 56rem;
  height: 120rem;

  border: none;
}

.bag_pad {
  position: absolute;
  height: 8rem;
  width: 7rem;
  left: 5rem;
  top: 4rem;
  cursor: pointer;
}
.img1 {
  position: absolute;
  max-width: 80%;
  min-height: 70%;
  left: 1rem;
  border-radius: 5px;
}
.bag_pad p {
  position: absolute;
  top: 6rem;
  font-size: 16px;
  left: 2.5rem;
  font-weight: 700;
  color: black;
}

.clothes_pad {
  position: absolute;
  height: 8rem;
  width: 7rem;
  left: 15rem;
  cursor: pointer;
  top: 4rem;
}
.img2 {
  position: absolute;
  min-width: 90%;
  max-height: 100%;
  left: 0.5rem;
  border-radius: 5px;
}
.clothes_pad p {
  position: absolute;
  top: 6rem;
  font-size: 16px;
  left: 2.5rem;
  font-weight: 700;
  color: black;
}

.products {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 109%;
  top: 5rem;
  left: -3rem;
  background-color: white;
  height: 18rem;
  overflow-x: auto;
}

.products::-webkit-scrollbar {
  width: 0;
}

.product {
  position: relative;
  left: 1rem;
  top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15rem;
  width: 10rem;

  margin-right: 12px;
}
.product:hover {
  z-index: 1;
  transform: translate(0px, 0px);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
 
  
}

.product-image {
  position: relative;

  top: -2.98rem;
  height: 9rem;
  width: 10rem;
}
.product-title {
  position: absolute;
  top: 11rem;
  left: 0.2rem;
  font-weight: 600;
  font-size: 14px;
  width: 150%;
  color: black;
}
.product-price {
  position: absolute;
  top: 13rem;
  left: 0.2rem;
  font-weight: 500;
  font-size: 18px;
  color: black;
}
.buttons {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: #00000044;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 10px;
}
.product:hover .buttons {
  opacity: 1;
}
.buttons .btn {
  position: relative;
  left: 3rem;
  background-color: #dddddd;
  padding: 5px;
  width: 50%;
  font-size: 0.8rem;
  border-radius: 10px;
  border: none;
}
.buttons .btn:hover {
  background-color: #065a82;
  color: #fff;
}

.make1_products {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 103%;
  top: 6rem;
  left: -3rem;
  background-color: white;
  height: 18rem;
  overflow-x: auto;
  border-radius: 10px;
}
.make1_products::-webkit-scrollbar {
  width: 0;
}
.make2_products {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 103%;
  top: 7rem;
  left: -3rem;
  background-color: white;
  height: 18rem;
  overflow-x: auto;
  border-radius: 10px;
}
.make2_products::-webkit-scrollbar {
  width: 0;
}
.make3_products {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 103%;
  top: 8rem;
  left: -3rem;
  background-color: white;
  height: 18rem;
  overflow-x: auto;
  border-radius: 10px;
}
.make3_products::-webkit-scrollbar {
  width: 0;
}

.make4_products {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 103%;
  top: 9rem;
  left: -3rem;
  background-color: white;
  height: 18rem;
  overflow-x: auto;
  border-radius: 10px;
}
.make4_products::-webkit-scrollbar {
  width: 0;
}
.make5_products {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 103%;
  top: 10rem;
  left: -3rem;
  background-color: white;
  height: 18rem;
  overflow-x: auto;
  border-radius: 10px;
}
.make5_products::-webkit-scrollbar {
  width: 0;
}
.make6_products {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 103%;
  top: 11rem;
  left: -3rem;
  background-color: white;
  height: 18rem;
  overflow-x: auto;
  border-radius: 10px;
}
.make6_products::-webkit-scrollbar {
  width: 0;
}

.make7_products {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 103%;
  top: 12rem;
  left: -3rem;
  background-color: white;
  height: 18rem;
  overflow-x: auto;
  border-radius: 10px;
}
.make7_products::-webkit-scrollbar {
  width: 0;
}

@media (max-width: 700px) {
  .container {
    position: absolute;
    left: 0rem;
    width: 100%;
  }
  .products {
    left: 0rem;
    display: grid;
    grid-gap: 5px;
    width: 100%;
    top: 1rem;
  }

  .modal {
    width: 100%;
  }
  .popup_product {
    left: 0rem;
    width: 100%;
    top: 15rem;
  }
  .product_image_popup_cart {
    width: 15rem;
    height: 15rem;
  }
  .product_about {
    left: 0rem;
    color: black;
  }
  .pop_btn {
    left: 0rem;
  }
  .pop_product-price {
    left: 15rem;
  }
  .pop_product-title {
    left: 15rem;
  }
  .cross {
    left: 23rem;
  }
}
