.container {
  position: absolute;
  top:  0rem;
  left: 18rem;
  width: 56rem;
  height: 50rem;

  border: none;
}
h1{
  position: absolute;
  top: 0rem;
  left: 0rem;
}

.bag_pad {
  position: absolute;
  height: 8rem;
  width: 7rem;
  left: 5rem;
  top: 4rem;
  cursor: pointer;
}
.img1 {
  position: absolute;
  max-width: 80%;
  min-height: 70%;
  left: 1rem;
  border-radius: 5px;
}
.bag_pad p {
  position: absolute;
  top: 6rem;
  font-size: 16px;
  left: 2.5rem;
  font-weight: 700;
  color: black;
}

.clothes_pad {
  position: absolute;
  height: 8rem;
  width: 7rem;
  left: 15rem;
  cursor: pointer;
  top: 4rem;
}
.img2 {
  position: absolute;
  min-width: 90%;
  max-height: 100%;
  left: 0.5rem;
  border-radius: 5px;
}
.clothes_pad p {
  position: absolute;
  top: 6rem;
  font-size: 16px;
  left: 2.5rem;
  font-weight: 700;
  color: black;
}

.products {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 103%;
  top: 5rem;
  left: 0rem;
  background-color: white;
  height: 17.5rem;
  overflow-x: auto;
}
.loading{
  position: relative;
  left: 1rem;
  top: 3rem;
 
  height: 13rem;
  width: 10rem;
background-color: #065a82;
  
}
.loading p{
  top:3rem
}

.products::-webkit-scrollbar {
  width: 0;
}
 h3{
  position: absolute;
  left: 1rem;
}
.product_firstmainpage {
  position: relative;
  left: 1rem;
  top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 13rem;
  width: 10rem;

  margin-right: 12px;
}
.product {
  position: relative;
  left: 1rem;
  top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 13rem;
  width: 10rem;

  margin-right: 12px;
}
.product:hover, .product_firstmainpage:hover{
  z-index: 0;
  transform: translate(0px, 0px);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}


.product-image {
  position: relative;

  top: -2.98rem;
  height: 9rem;
  width: 10rem;
}
.product-title {
  position: absolute;
  top: 9rem;
  left: 0.2rem;
  font-size: 0.875rem;
  font-weight: 600;
  height: 4rem;
  color: grey;
  width: 100%;
  white-space: nowrap;
 
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-price {
  position: absolute;
  top: 10rem;
  left: 0.2rem;
  font-weight: 500;
  font-size: 18px;
  color: black;
}
.buttons {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: #00000044;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 10px;
}
.product:hover .buttons {
  opacity: 1;
}
.buttons .btn {
  position: relative;
  left: 3rem;
  background-color: #dddddd;
  padding: 5px;
  width: 50%;
  font-size: 0.8rem;
  border-radius: 10px;
  border: none;
}
.buttons .btn:hover {
  background-color: #065a82;
  color: #fff;
}

.make1_products {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 103%;
  top: 6rem;
  left: 0rem;
  background-color: white;
  height: 18rem;
  overflow-x: auto;
  
}
.make1_products::-webkit-scrollbar {
  width: 0;
}
.make2_products {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 103%;
  top: 7rem;
  left: 0rem;
  background-color: white;
  height: 18rem;
  overflow-x: auto;
  border-radius: 10px;
}
.make2_products::-webkit-scrollbar {
  width: 0;
}
.make3_products {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 103%;
  top: 8rem;
  left: 0rem;
  background-color: white;
  height: 18rem;
  overflow-x: auto;
  border-radius: 10px;
}
.make3_products::-webkit-scrollbar {
  width: 0;
}

.make4_products {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 103%;
  top: 9rem;
  left: 0rem;
  background-color: white;
  height: 18rem;
  overflow-x: auto;
  border-radius: 10px;
}
.make4_products::-webkit-scrollbar {
  width: 0;
}
.make5_products {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 103%;
  top: 10rem;
  left: 0rem;
  background-color: white;
  height: 18rem;
  overflow-x: auto;
  border-radius: 10px;
}
.make5_products::-webkit-scrollbar {
  width: 0;
}
.make6_products {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 103%;
  top: 11rem;
  left: 0rem;
  background-color: white;
  height: 18rem;
  overflow-x: auto;
  border-radius: 10px;
}
.make6_products::-webkit-scrollbar {
  width: 0;
}

.make7_products {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 103%;
  top: 12rem;
  left: 0rem;
  background-color: white;
  height: 18rem;
  overflow-x: auto;
  border-radius: 10px;
}
.make7_products::-webkit-scrollbar {
  width: 0;
}
.mymostdata{
  position: absolute;
  top: 5rem;
  left: 2rem;
  height: 30rem;
  width: 50rem;
  background-color: #065a82;
}
.mymostdata p{
  position: relative;
  top: 10rem;
}
h1{
  position: relative;
  top: 10rem;
}
.div_arrow_right{
  position: fixed;
  right:6rem;
  top: 14rem;
  font-size: 2rem;
  padding: .5px;
  background-color: rgba(0, 0, 0, .4);
  border-radius: 50%;
  visibility: hidden;
}
.products:hover .div_arrow_right{
  visibility: visible;
 
}
.arrow_right{
  
 color: white;
  cursor: pointer;
  border: none;

}
.heels_h3{
  position: absolute;
  top: 0rem;
  
}

.heels_route{
  position: absolute;
  text-decoration: none;
  top: 0rem;
  right: 2rem;
  width: 5rem;
}
.sellers_link{
  position: absolute;
  top: 3rem;
  left: -15rem;
}
 .prdt_category{
  position: absolute;
  background-color: grey;
  top: 0rem;
  width: 250%;
  height: 2.5rem;
}

.a_bags_see_all{
  position: sticky;
left: 53rem;
  top: .3rem;
  text-decoration: none;

  width: 5rem;
}
.right_see_all{
  position: absolute;
  right: -1rem;
  top: .26rem;

}
.a_bags_see_all:hover, .right_see_all:hover{
  color: white;
}
.h3_title{
  position: absolute;
  top: .3rem;
}












@media (max-width: 700px) {
  .container {
    position: absolute;
    left: 0rem;
    width: 100%;
  }
  .products {
    left: 0rem;
    display: grid;
    grid-gap: 5px;
    width: 100%;
    top: 1rem;
  }

  .modal {
    width: 100%;
  }
  .popup_product {
    left: 0rem;
    width: 100%;
    top: 15rem;
  }
  .product_image_popup_cart {
    width: 15rem;
    height: 15rem;
  }
  .product_about {
    left: 0rem;
    color: black;
  }
  .pop_btn {
    left: 0rem;
  }
  .pop_product-price {
    left: 15rem;
  }
  .pop_product-title {
    left: 15rem;
  }
  .cross {
    left: 23rem;
  }
}
