.container_liked{
  position: absolute;
  top: 7rem;
  left: 3rem;
  width: 50rem;
  height: 54rem;
  border: 1px solid grey;
  border-radius: 10px;
  border: none;
  background-color: white;


}
.liked_container{
  position: relative;
  height:12rem;
  width: 100%;
  top: 5.5rem; 
 

}

.mylikes{
    position: absolute;
    top:2rem;
    left:3rem;

}
.single_item_like{
  position: absolute;
  height: 13rem;
  width: 100%;
  
}
.single_item_like:hover{
  background-color: rgba(0,0,0,0.1);
}


  
