.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 200px;
  background-color: #ffffff;
  padding: 30px;
  width: 450px;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form button {
  align-self: flex-end;
}

.flex-column > label {
  color: #151717;
  font-weight: 600;
}

.inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}

.input {
  
  margin-top: -65px;
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 90%;
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
  justify-content: space-between;
}

.flex-row > div > label {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

.span {
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;
}

.button-submit {
  margin: 20px 0 10px 0;
  background-color: #151717;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.p {
  text-align: center;
  color: black;
  font-size: 14px;
  margin: 5px 0;
}

.btn {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #ededef;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.p_line{
  position: absolute;
  top: 26rem;
  left: 15rem;
}

.btn:hover {
  border: 1px solid #2d79f3;
  ;
}

    
































form{
    position: absolute;
    display: flex;
    top:5rem;
    left: -10rem;
    width: 50rem;
   border: 1px solid grey;
   border-radius: 6px;
    height: 45rem;
    flex-direction: column;
    padding: 1rem;
}
 .password, .email{
    
   margin: .6rem;
    position: relative;
    width: 92%;


top: 0rem;
   border: 1.5px solid #ecedec;
   border-radius: 10px;
   height: 50px;
   display: flex;
   align-items: center;
   padding-left: 10px;
   transition: 0.2s ease-in-out;
   cursor:pointer;
  
   color: black;
   

}
.fname{
  margin: .6rem;
  position: relative;
  width: 22rem;



 border: 1.5px solid #ecedec;
 border-radius: 10px;
 height: 50px;
 display: flex;
 align-items: center;
 padding-left: 10px;
 transition: 0.2s ease-in-out;
 cursor:pointer;

 color: black;
 
}
.sname{
  margin: .6rem;
  position: relative;
  width: 22rem;
top: -4rem;
left: 24rem;


 border: 1.5px solid #ecedec;
 border-radius: 10px;
 height: 50px;
 display: flex;
 align-items: center;
 padding-left: 10px;
 transition: 0.2s ease-in-out;
 cursor:pointer;

 color: black;
 
}
.pnumber{
  margin: .6rem;
  position: relative;
  width: 92%;
top: -3rem;

 border: 1.5px solid #ecedec;
 border-radius: 10px;
 height: 50px;
 display: flex;
 align-items: center;
 padding-left: 10px;
 transition: 0.2s ease-in-out;
 cursor:pointer;

 color: black;
}
.address{
  margin: .6rem;
  position: relative;
  width: 92%;
top: -2rem;

 border: 1.5px solid #ecedec;
 border-radius: 10px;
 height: 50px;
 display: flex;
 align-items: center;
 padding-left: 10px;
 transition: 0.2s ease-in-out;
 cursor:pointer;

 color: black;
}
.options{
  margin: .6rem;
  position: relative;
  width: 40%;
top: 0rem;

 border: 1.5px solid #ecedec;
 border-radius: 10px;
 height: 50px;
 display: flex;
 align-items: center;
 padding-left: 10px;
 transition: 0.2s ease-in-out;
 cursor:pointer;

 color: black;
}

.diffoptions{
  margin: .6rem;
  position: relative;
  width: 50%;
top: -3.7rem;
left: 22rem;

 border: 1.5px solid #ecedec;
 border-radius: 10px;
 height: 50px;
 display: flex;
 align-items: center;
 padding-left: 10px;
 transition: 0.2s ease-in-out;
 cursor:pointer;

 color: black;
}




.registerbtn{
    position: relative;
    margin: 20px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
    top: -1rem;

}
.registerbtn:hover{
  border: 1px solid #2d79f3;
  ;
}
.haveacc{
    position: absolute;
    top:44rem;
    left: 1rem;
    font-size: 14px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
}
.acc_login{
    position: relative;
    top:0rem;
    left: 0.5rem;
    width: 5rem;
    text-decoration: none;
    font-size: 1.1rem;
}
.error_email{
    position: absolute;
    top:0rem;
    font-size: 2rem;

}
.fname:focus-within, .sname:focus-within, .email:focus-within,.password:focus-within,.address:focus-within,.diffoptions:focus-within,.options:focus-within {
  border: 1.5px solid #2d79f3;
}

.member_name{
  position: absolute;
  top: 5rem;
  right: 5rem;
}