.nav{
    position: absolute;
    width:100%;
    padding:30px;
    top:0rem;
    left: 8rem;
   

}

ul {
    position: absolute;
  display: flex;
  flex-direction: row;
 font-size: 20px;
  top: 1rem;
  left:25rem;
  }
  li {
    margin: 1rem;
 list-style-type: none;
 text-decoration: none;
 color: black; 
 padding: 10px;
text-decoration-line: none;
 border-radius: 5px;
  }

  li:hover{
    color: grey;
    padding: 15px;
    transition: 0.9s ease-in-out ;
    background-color:antiquewhite;
  }

  .company_name{
    position: absolute;
    font-size: 30px;
   font-family:[Kumbh Sans] ;
    font-weight: 700;
    left:5rem;
    color: black;
   
}
.nav_line{
    position: absolute;
    top:8rem;
    width: 70%;
    left:7rem;
  
}
.cart-icon{
  position: absolute;
  top:3rem;
  left:53rem;
  font-size: 20px;
}
.cart-icon:hover{
  color:grey;
}
.count{
  position: absolute;
  top:2rem;
  left: 54.5rem;




}