
.container_shopping{
    position: absolute;
    top:7rem;
    left: 3rem;
    width: 50rem;
    height: 50rem;
    border: 1px solid grey;
    border-radius: 10px;
  


border: none;
  

}

.container_shopping h2{
    position: absolute;
    top:2rem;
    left:3rem;

}
hr{
    position: absolute;
    top:5rem;
    width: 100%;
}
.cart_container{
    position: relative;
    height:12rem;
    width: 100%;
    top: 5.5rem;
  
}
.single_item_cart{
    position: absolute;

    height: 13rem;
    width: 100%;
}
.single_item_cart:hover{
    background-color: rgba(0,0,0,0.1);
}
.cart_image{
    position: relative;
    max-height: 10rem;
    min-width: 10rem;
    left: 3rem;
    top:1rem;
}
.cart-title{
    position: absolute;
    top: 4rem;
    left: 20rem;

}
.cart-price{
    position: absolute;
    top: 4rem;
    left: 40rem;
}
.cart-price p{
    position: absolute;
    left: -7rem;
}
.cart_empty{
    position: absolute;
    top:17rem;
    left: 17rem;
    font-size: 1.7rem;
    font-weight: 500;
}
.total_container{

    position: fixed;
    top: 8rem;
    height:15rem;
    background-color: rgba(0,0,0,0.1);
    left: 55rem;
    width: 22rem;

  
}
.cart_summary{
    position: absolute;
    top:1rem;
    left: 1rem;
    font-weight: 600;
}
.total_container small{
    position: absolute;
font-weight: 500;
font-size: 1.4rem;
    left: 14rem;
    top: 4rem;

}
.sub_total{
    position: absolute;
    font-weight: 600;
    font-size: 1rem;
        left: 1rem;
        top:4rem;

}
.increase-item{
    position: absolute;
    top:4rem;
    left: 30rem;
    border: none;

}
.decrease-item{
    position: absolute;
    top:4rem;
    left: 35rem;
    border: none;
    
}
.increase-item:hover ,.decrease-item:hover{
    background-color: grey;
}
.bt_clear{
    position: absolute;
    border: 1px solid grey;
    top:2rem;
    left: 43rem;
    border-radius: 6px;
    padding: 10px;
    background-color: grey;
    color: white;
}
.bt_clear:hover{
    background-color: black;
}
.summary_ln{
    position: absolute;
    top:3rem;
}
.checkout{
    position: absolute;
    left: 1rem;
    top:9rem;
    height: 3rem;
    width: 90%;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    font-size: 1rem;
    background-color: rgba(0,0,0,0.1);
}
.checkout:hover{
    opacity: .7;
    background-color: rgb(165, 174, 182);
}
.line-cart{
    position: relative;
    top: 1.8rem;

    background-color: red;

}
.modal1 {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    scroll-behavior: auto;
  }
  @media (max-width:700px){
    .container_shopping{
        left: 0rem;
        
        width: 100%;
    }
    .cart_empty{
        left: 5rem;
    }.bt_clear{
        left: 20rem;
    }
   .checkout{
    left: 0rem;
   }
   .cart_image{
    left: 0rem;
    height: 7rem;
    width: 5rem;
   }
   .cart-title{
    left: 10rem;
   }
   .cart-price{
    left: 22rem;
   }
   .increase-item{
    left: 16rem;
    
   }
   .decrease-item{
    left: 19.5rem;
   }
   .cart-price p{
    left: -4rem;
   }
   .total_container small{
    position: absolute;
    left: 20rem;
   }

   
}