
.container_shopping{
    position: absolute;
    top:10rem;
    left: 15rem;
    width: 50rem;
    height: 50rem;
    border: 1px solid grey;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;

border: none;
  

}
.container_shopping::-webkit-scrollbar{
    width: 0;
}
.container_shopping h2{
    position: absolute;
    top:2rem;
    left:3rem;

}
hr{
    position: absolute;
    top:5rem;
    width: 100%;
}
.cart_container{
    position: relative;
display: grid;

    height:12rem;
    width: 100%;
    top: 5.5rem;
  
}
.single_item_cart{
    position: absolute;

    height: 13rem;
    width: 100%;
}
.single_item_cart:hover{
    background-color: rgba(0,0,0,0.1);
}
.cart_image{
    position: relative;
    max-height: 10rem;
    min-width: 10rem;
    left: 3rem;
    top:1rem;
}
.cart-title{
    position: absolute;
    top: 4rem;
    left: 20rem;

}
.cart-price{
    position: absolute;
    top: 4rem;
    left: 40rem;
}
.cart-price p{
    position: absolute;
    left: -7rem;
}
.cart_empty{
    position: absolute;
    top:17rem;
    left: 17rem;
    font-size: 1.7rem;
    font-weight: 500;
}
.total_container{

    position: absolute;
    bottom: -5rem;
    height:8rem;
    background-color: rgba(0,0,0,0.1);
    left: 0rem;
    width: 50rem;

  
}
.total_container p{
    position: relative;
    top:1rem;
}
.total_container small{
    position: absolute;
font-weight: 500;
font-size: 1.4rem;
    left: 40rem;
    top: .7rem;
}
.increase-item{
    position: absolute;
    top:4rem;
    left: 30rem;
    border: none;

}
.decrease-item{
    position: absolute;
    top:4rem;
    left: 35rem;
    border: none;
    
}
.increase-item:hover ,.decrease-item:hover{
    background-color: grey;
}
.bt_clear{
    position: absolute;
    border: 1px solid grey;
    top:2rem;
    left: 43rem;
    border-radius: 6px;
    padding: 10px;
    background-color: grey;
    color: white;
}
.bt_clear:hover{
    background-color: black;
}
.checkout{
    position: absolute;
    left: 35rem;
    top:4rem;
    height: 3rem;
    width: 10rem;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    background-color: rgba(0,0,0,0.5);
}
.line-cart{
    position: relative;
    top: 1.8rem;

    background-color: red;

}
.modal1 {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    scroll-behavior: auto;
  }