
.container_shopping{
    position: absolute;
    top:10rem;
    left: 6rem;
    width: 60rem;
    height: 30rem;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;

  

}