.container_sandals{
    position: absolute;
    top: 1rem;
    left: 0rem;
    width: 100%;
    border: none;
  }
.routes_sandals{
  position: absolute;
  top: 4rem;
 text-decoration: none;
  left: 1rem;
  width: 30rem;
  
}
.products_sandals {
    position: relative;
    display: grid;
    flex-direction: column;
    width: 70%;
    top: 7rem;
    left: 20rem;
    background-color: white;
    height: 160rem;
    grid-template-columns: repeat(4, 200px);
    grid-gap:8px;

    
  }
  .product_sandals {
    position: relative;
    left: 1rem;
    top: 4rem;
    display: flex;
    flex-direction: column;
  
    height: 15rem;
    width: 10rem;
  
    
  }
  .product_sandals:hover{
    z-index: 0;
    transform: translate(0px, 0px);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  }
  .product-image_sandals {
    position: relative;
  
    top: 0rem;
    height: 9rem;
    width: 10rem;
  }
.products_sandals p{
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-weight: 500;
  font-size: 1.2rem;
}
.line{
  position: absolute;
  top: 3rem;
  left: 0rem;
  color: red;
}

  .container_functionalities{
    position: absolute;
    top: 7rem;
    width: 18rem;
    height: 20rem;
    background-color: white;
    left: 1rem;
   
  }
  .p_query{
    position: absolute;
    top: 0rem;
    left: 4rem;
  }
  .catalog_template{
    position: relative;

    width: 52rem;
    top:3rem;
    left: 0rem;
     display: grid;
    
     z-index: 0;
   
     display: grid;
     grid-template-columns: repeat(4, 1fr); /* 4 items per row */
     grid-gap: 20px; /* Adjust gap between items */ 
    
  }
  .category_line{
    position: absolute;
    top:2rem;

  }
  .btm_categoty_line{
    position: absolute;
    top:8rem;

  }
  .price_ranges{
    position: absolute;
    
    height: 6rem;
    width: 100%;
    top: 2rem;
  }
  .min-value_input{
    position: relative;
    width: 6rem;
    top: 2rem;
    left: 1rem;
    padding: 4px;
  }
  .max-value_input{
    position: relative;
    width: 6rem;
    top: 2rem;
    left: 4rem;
    padding: 4px;
  }
  .price_ranges button{
    border:none;
    cursor: pointer;
  }
  .price_ranges button:hover{
    background-color: rgb(196, 193, 193);
  }