.seller_container{
    position: relative;
  
    width: 100%;
    
    
}

.seller_form{
    position: absolute;
    top: 6rem;
    left:2rem;                                                                                                 width: 70rem;
    height: 29rem;
   
}
.product_title{
    position: absolute;
    top: 3rem;
    left: 3rem;
    padding: 10px;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
.product_price{
    position: absolute;
    top: 7rem;
    left: 3rem;
    padding: 10px;
}
.product_about{
    position: absolute;
    top: 10rem;
    left: 3rem;
    padding: 10px;
    width: 11rem;
}
.seller_btn{
    position: absolute;
    top: 13rem;
    left: 3rem;
    padding: 10px;
    width: 11rem; 
}
.product_seller_image{
    position: absolute;
    top: 3rem;
    left: 20rem;
    padding: 10px;
    width: 11rem; 
}
.product_list{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 103%;
    top: 5rem;
    left: 0rem;
    background-color: white;
    height: 17.5rem;
    overflow-x: auto;
    visibility: hidden;

}
.product_card{
    position: relative;
  left: 1rem;
  top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 13rem;
  width: 10rem;

  margin-right: 12px;
}