.seller_container{
    position: relative;
    background-color: aqua;
    width: 100%;
    
    
}

.seller_form{
    position: absolute;
    top: 6rem;
    left:2rem;                                                                                                 width: 70rem;
    height: 29rem;
   
}
.product_title{
    position: absolute;
    top: 3rem;
    left: 3rem;
    padding: 10px;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
.product_price{
    position: absolute;
    top: 7rem;
    left: 3rem;
    padding: 10px;
}
.product_about{
    position: absolute;
    top: 10rem;
    left: 3rem;
    padding: 10px;
    width: 11rem;
}
.seller_btn{
    position: absolute;
    top: 13rem;
    left: 3rem;
    padding: 10px;
    width: 11rem; 
}
.product_seller_image{
    position: absolute;
    top: 3rem;
    left: 20rem;
    padding: 10px;
    width: 11rem; 
}