*{
  margin: 0;
  
 }
 body{
  background-color: rgb(234, 234, 234);
 }

.footer{
  position: absolute;
  bottom:-160rem;
  background-color: aqua;
  height: 16rem;
font-size: .7rem;
  width: 100%;

}
.footer p{
  position: relative;

  left: 40rem;
  width: 10rem;

}
.hd_pages{
  position: absolute;
  left: 2rem;
}
.ul_media{
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  top:2rem;
  font-size: 1rem;
  list-style-type: none;
 text-decoration: none;


}
.li_media{
  position: relative;
  left: 0rem;
  list-style-type: none;
 text-decoration: none;
 margin:5px;
}
.li_media:hover{
  padding: .2px;
  background-color:grey;
  border-radius: 4px;
  width: 5rem;
}
